---
http_interactions:
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<KEY>&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Request"}'
  recorded_at: Tue, 10 Sep 2019 20:34:03 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<KEY>&q=Seattle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"222943334","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"237385","boundingbox":["47.4810022","47.7341357","-122.459696","-122.224433"],"lat":"47.6038321","lon":"-122.3300624","display_name":"Seattle,
        King County, Washington, United States of America","class":"place","type":"city","importance":0.80154398538761,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_place_city.p.20.png"},{"place_id":"152014808","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"291707810","boundingbox":["25.1837689","25.1845505","121.4465868","121.4474398"],"lat":"25.18415975","lon":"121.446939985985","display_name":"Seattle,
        Tamsui, \u5317\u6295\u91cc, Lanweibu, Tamsui District, New Taipei, 251, Taiwan","class":"landuse","type":"residential","importance":0.31},{"place_id":"59240430",[...]
[...]
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<KEY>&q=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"223097082","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"1681535","boundingbox":["45.8939614","46[...]
- request:
    method: get
    uri: https://us1.locationiq.org/v1/reverse.php?format=json&key=<KEY>&lat=38.8976998&lon=-77.0365534886228
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"place_id":"332971302034","osm_type":"way","osm_id":"238241022","licence":"https:\/\/locationiq.com\/attribution","lat":"38.897676","lon":"-77.03655","display_name":"1600,
        Pennsylvania Avenue Northwest, White House Grounds, Washington, District of
        Columbia, District of Columbia, United States, 20006","boundingbox":["38.897676","38.897676","-77.03655","-77.03655"],"importance":0.225,"address":{"house_number":"1600","road":"Pennsylvania
        Avenue Northwest","neighbourhood":"White House Grounds","city":"Washington","county":"District
        of Columbia","state":"District of Columbia","country":"United States","postcode":"20006","country_code":"us"}}'
  recorded_at: Wed, 11 Sep 2019 04:38:44 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/reverse.php?format=json&key=<KEY>&lat=48.4283182&lon=-123.3649533
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"place_id":"331647791078","osm_type":"node","osm_id":"4409072525","licence":"https:\/\/locationiq.com\/attribution","lat":"48.428289","lon":"-123.36522","display_name":"The
        Hands of Time: Carrying Books, Chinatown, Victoria, Capital, British Columbia,
        Canada","boundingbox":["48.428289","48.428289","-123.36522","-123.36522"],"importance":0.2,"address":{"name":"The
        Hands of Time: Carrying Books","neighbourhood":"Chinatown","city":"Victoria","county":"Capital","state":"British
        Columbia","country":"Canada","country_code":"ca"}}'
  recorded_at: Wed, 11 Sep 2019 04:38:45 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/reverse.php?format=json&key=<KEY>&lat=41.8902614&lon=12.493087103595503
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"place_id":"332146165584","osm_type":"node","osm_id":"1672413257","licence":"https:\/\/locationiq.com\/attribution","lat":"41.89083","lon":"12.493504","display_name":"Colosseo\/Salvi,
        San Paolo, Rome, Roma, Italy","boundingbox":["41.89083","41.89083","12.493504","12.493504"],"importance":0.2,"address":{"name":"Colosseo\/Salvi","neighbourhood":"San
        Paolo","city":"Rome","state":"Roma","country":"Italy","country_code":"it"}}'
  recorded_at: Wed, 11 Sep 2019 04:38:46 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<KEY>&q=Great%20Pyramid%20of%20Giza
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"76491632","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"4420397","boundingbox":["29.9781249","29.9801279","31.1330737","31.1354031"],"lat":"29.9791264","lon":"31.1342383751015","display_name":"Great
        Pyramid of Giza, Cause way, Nazlet Al Siman and Al Sisi, Kom al Akhdar, Giza,
        Giza Governorate, 12561, Egypt","class":"tourism","type":"attraction","importance":0.97861371244118,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_point_of_interest.p.20.png"}]'
  recorded_at: Wed, 11 Sep 2019 05:36:50 GMT
[...]
- request:
    method: get
    uri: https://us1.locationiq.org/v1/directions/driving/31.1342383751015,29.9791264;31.1342383751015,29.9791264?key=<KEY>&steps=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":"Ok","waypoints":[{"hint":"jTGkjZcxpI1MAAAAAAAAACkAAAAnAAAAXJVSQgAAAACFeuRB4JQyQUwAAAAAAAAAKQAAACcAAABlEAEA2BzbAVB5yQEeEtsB9nHJAQIAbw4DhJX7","location":[31.136984,29.981008],"name":""},{"hint":"jTGkjZcxpI1MAAAAAAAAACkAAAAnAAAAXJVSQgAAAACFeuRB4JQyQUwAAAAAAAAAKQAAACcAAABlEAEA2BzbAVB5yQEeEtsB9nHJAQIAbw4DhJX7","location":[31.136984,29.981008],"name":""}],"routes":[{"legs":[{"steps":[{"intersections":[{"out":0,"entry":[true],"location":[31.136984,29.981008],"bearings":[230]}],"driving_side":"right","geometry":"it~uDcm`}D??","duration":0,"distance":0,"name":"","weight":0,"mode":"driving","maneuver":{"bearing_after":230,"bearing_before":0,"type":"depart","location":[31.136984,29.981008]}},{"intersections":[{"in":0,"entry":[true],"location":[31.136984,29.981008],"bearings":[50]}],"driving_side":"right","geometry":"it~uDcm`}D","duration":0,"distance":0,"name":"","weight":0,"mode":"driving","maneuver":{"bearing_after":0,"bearing_before":230,"type":"arrive","location":[31.136984,29.981008]}}],"weight":0,"distance":0,"summary":"","duration":0}],"weight_name":"routability","geometry":"it~uDcm`}D??","weight":0,"distance":0,"duration":0}]}'
  recorded_at: Wed, 11 Sep 2019 05:36:51 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<KEY>&q=Cairo,%20Egypt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"223547304","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"5466227","boundingbox":["29.7483062","30.3209168","31.2200331","31.9090054"],"lat":"30.048819","lon":"31.243666","display_name":"Cairo,
        Cairo Governorate, Egypt","class":"place","type":"city","importance":0.90792534689416,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_place_city.p.20.png"},{"place_id":"223424898","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"4103336","boundingbox":["29.7483062","30.3209168","31.2200331","31.9090054"],"lat":"30.0352073","lon":"31.5633670632654","display_name":"Cairo
        Governorate, Egypt","class":"boundary","type":"administrative","importance":0.5566874034691,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_boundary_administrative.p.20.png"}]'
  recorded_at: Wed, 11 Sep 2019 05:37:43 GMT
[...]
- request:
    method: get
    uri: https://us1.locationiq.org/v1/directions/driving/31.243666,30.048819;31.1342383751015,29.9791264?key=<KEY>&steps=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":"Ok","waypoints":[{"hint":"UldDhJ_vw4UxAAAASgAAAAAAAAAAAAAANrkHQgt6TEIAAAAAAAAAADEAAABKAAAAAAAAAAAAAABlEAEAE7zcATyCygGSvdwBM4LKAQAAXwsDhJX7","location":[31.243283,30.048828],"name":"\u0634\u0627\u0631\u0639
        \u062c\u0648\u0627\u062f \u062d\u0633\u0646\u064a"},{"hint":"jTGkjZcxpI1MAAAAAAAAACkAAAAnAAAAXJVSQgAAAACFeuRB4JQyQUwAAAAAAAAAKQAAACcAAABlEAEA2BzbAVB5yQEeEtsB9nHJAQIAbw4DhJX7","location":[31.136984,29.981008],"name":""}],"routes":[{"legs":[{"steps":[{"intersections":[{"out":0,"entry":[true],"location":[31.243283,30.048828],"bearings":[1]}],"driving_side":"right","geometry":"e|kvDoeu}D{@A","duration":5.5,"distance":34,"name":"\u0634\u0627\u0631\u0639
        \u062c\u0648\u0627\u062f \u062d\u0633\u0646\u064a","weight":5.5,"mode":"driving","maneuver":{"bearing_after":1,"location":[31.243283,30.048828],"type":"depart","bearing_before":0,"modifier":"right"}},{"intersections":[{"out":1,"in":2,"entry":[true,true,false,false],"location":[31.243292,30.049134],"bearings":[0,75,180,255]}],"driving_side":"right","geometry":"a~kvDqeu}Dm@iC?C?C@A@E","duration":5.2,"distance":79.4,"name":"\u0634\u0627\u0631\u0639
        \u0642\u0635\u0631 \u0627\u0644\u0646\u064a\u0644","weight":5.2,"mode":"driving","maneuver":{"bearing_after":68,"location":[31.243292,30.049134],"type":"turn","bearing_before":1,"modifier":"right"}},{"intersections":[{"out":0,"in":1,"entry":[true,false,false],"location":[31.244064,30.04934],"bearings":[135,285,330]},{"out":0,"in":3,"entry":[true,true,false,false],"location":[31.244278,30.049363],"bearings":[9,67,205,208]}],"driving_side":"right","geometry":"k_lvDkju}DBEBE@GAGAECEECG?E?","duration":1.8,"distance":33.1,"name":"\u0639\u0645\u0627\u062f
        \u0627\u0644\u062f\u064a\u0646","weight":1.8,"mode":"driving","maneuver":{"exit":2,"bearing_after":140,"location":[31.244064,30.04934],"type":"roundabout","bearing_before":98,"modifier":"right"}},{"intersections":[{"out":2,"in":0,"entry":[false,true,true],"location":[31.244278,30.049428],"bearings":[172,330,335]},{"out":0,"in":2,"entry":[true,true,false,false],"location":[31.244226,30.050339],"bearings":[0,90,180,270]}],"driving_side":"right","geometry":"}_lvDwku}DWLE@G@E?iCGcDE","duration":24.2,"distance":194.4,"name":"\u0639\u0645\u0627\u062f
        \u0627\u0644\u062f\u06[...]
